:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: #00e0d8;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.section {
  padding-top: 140px;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .section {
    padding: 100px 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .section {
    padding: 100px 0;
  }
}

.layout-title {
  font-size: 4rem;
  color: #242f3e;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .container {
    width: 98%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 1025px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.mt-40 {
  margin-top: 40px;
}

.header {
  padding: 45px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.header.active {
  background: #fff;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 142, 236, 0.104);
          box-shadow: 0px 10px 20px 0px rgba(0, 142, 236, 0.104);
  padding: 15px 0;
}

.header.active .navbar .btn.button-outline-primary {
  color: #007ac7;
}

.header.active .navbar .btn.button-outline-primary:hover {
  color: #fff;
}

.header .navbar .navbar-brand {
  margin-right: 12rem;
}

.header .navbar .button-outline-primary {
  color: #fff;
}

.header .navbar .nav-link {
  color: #242f3e;
  font-weight: 500;
  font-size: 16px;
}

.header .navbar .navbar-nav {
  gap: 30px;
  line-height: 48px;
}

.header .navbar .navbar-nav .nav-item {
  position: relative;
}

.header .navbar .navbar-nav .nav-item .dropMenu {
  position: absolute;
  left: -55%;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.14);
  padding: 15px;
  top: 50px;
  width: 182px;
  height: 151px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header .navbar .navbar-nav .nav-item .dropMenu a {
  font-size: 1.6rem;
  line-height: 40px;
}

.header .navbar .navbar-nav .nav-item .dropMenu a:hover {
  background-color: transparent;
  color: #00e0d8;
}

.header .navbar .navbar-nav .nav-item:hover .dropMenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00e0d8;
}

.header .navbar .navbar-nav .btn {
  margin-left: 82px;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .header {
    background: #fff;
    width: 100vw;
    padding: 8px 0;
  }
  .header .container .navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1.75rem;
  }
  .header .container .navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .container .navbar .navbar-toggler .navbar-toggler-icon {
    color: #616365;
  }
  .header .container .navbar .navbar-toggler .navbar-toggler-icon i {
    font-size: 22px;
  }
  .header .container .navbar .navbar-collapse .navbar-nav {
    text-align: center;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .btn {
    padding: 10px 45px;
    width: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #007ac7;
    margin-left: 0;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .btn:hover {
    color: #fff;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    background: #fff;
    width: 100vw;
    padding: 8px 0;
  }
  .header .container {
    width: 100%;
  }
  .header .container .navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1.75rem;
  }
  .header .container .navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .container .navbar .navbar-toggler .navbar-toggler-icon {
    color: #616365;
  }
  .header .container .navbar .navbar-toggler .navbar-toggler-icon i {
    font-size: 22px;
  }
  .header .container .navbar .navbar-collapse .navbar-nav {
    text-align: center;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .btn {
    padding: 10px 45px;
    width: 50%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    color: #007ac7;
    margin-left: 0;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .btn:hover {
    color: #fff;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .header {
    width: 100vw;
  }
  .header .container {
    width: 100%;
  }
  .header .container .navbar .btn {
    padding: 14px 45px;
    color: #fff;
    white-space: nowrap;
    margin-left: 48px;
  }
  .header .container .navbar .navbar-brand {
    height: 56px;
    margin-right: 6%;
  }
  .header .container .navbar .navbar-brand img {
    height: inherit;
  }
  .header .container .navbar .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    padding: 0.75rem 1.75rem;
  }
  .header .container .navbar .navbar-toggler:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header .container .navbar .navbar-toggler .navbar-toggler-icon {
    color: #616365;
  }
  .header .container .navbar .navbar-toggler .navbar-toggler-icon i {
    font-size: 22px;
  }
  .header .container .navbar .navbar-collapse .navbar-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .nav-item {
    white-space: nowrap;
  }
  .header .container .navbar .navbar-collapse .navbar-nav .nav-link {
    padding: 0;
  }
}

.banner {
  position: relative;
  padding: 150px 0 260px;
  overflow: hidden;
}

.banner .row {
  margin-right: -25%;
}

.banner .row .banner-left span {
  position: absolute;
  font-size: 20rem;
  font-weight: 600;
  left: 12.5%;
  top: 134px;
  opacity: 0.07;
}

.banner .row .banner-left h1 {
  font-size: 6rem;
  color: #242f3e;
  margin-bottom: 8px;
}

.banner .row .banner-left p {
  text-transform: initial;
  opacity: 0.7;
}

.banner .row .banner-left .banner-button {
  margin-top: 36px;
}

.banner .row .banner-left .banner-button .btn {
  padding: 16px 50px;
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.banner .row .banner-left .banner-button .btn i {
  font-size: 3rem;
  margin-right: 12px;
}

.banner .row .banner-left .banner-button .btn:hover {
  color: #fff;
}

.banner .row .banner-left .banner-button .button-primary {
  color: #fff;
}

.banner .row .banner-right {
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.103);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.103);
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.banner .background-img {
  position: absolute;
  top: 0;
  right: -84px;
  z-index: -2;
}

.banner .background-img img {
  width: 770px;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .banner {
    padding: 150px 0;
  }
  .banner .row {
    margin-right: -15px;
  }
  .banner .row .banner-left {
    text-align: center;
  }
  .banner .row .banner-left h1 {
    line-height: 50px;
    font-size: 38px;
    text-align: center;
  }
  .banner .row .banner-left span {
    font-size: 120px;
    top: 8%;
    left: 4%;
  }
  .banner .row .banner-left p {
    font-size: 1.4rem;
  }
  .banner .row .banner-left .banner-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .banner .row .banner-left .banner-button .btn {
    padding: 10px 45px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 14px;
  }
  .banner .background-img {
    right: -75%;
  }
  .banner .background-img img {
    max-width: 66%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    padding: 150px 0;
  }
  .banner .row {
    margin-right: -15px;
  }
  .banner .row .banner-left {
    text-align: center;
  }
  .banner .row .banner-left h1 {
    line-height: 68px;
    font-size: 6rem;
    text-align: center;
  }
  .banner .row .banner-left span {
    font-size: 200px;
    top: 4%;
    left: 7%;
  }
  .banner .row .banner-left p {
    margin-top: 22px;
    font-size: 1.4rem;
  }
  .banner .row .banner-left .banner-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .banner .row .banner-left .banner-button .btn {
    padding: 10px 45px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 14px;
  }
  .banner .background-img {
    right: -22%;
  }
  .banner .background-img img {
    max-width: 89%;
  }
}

@media only screen and (min-width: 1025px) {
  .banner {
    padding: 150px 0;
  }
  .banner .row {
    margin-right: -24%;
  }
  .banner .row .banner-left h1 {
    line-height: 68px;
    font-size: 6rem;
  }
  .banner .row .banner-left span {
    font-size: 200px;
    top: 13%;
    left: 3%;
  }
  .banner .row .banner-left p {
    margin-top: 22px;
    font-size: 1.4rem;
  }
  .banner .row .banner-left .banner-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  .banner .row .banner-left .banner-button .btn {
    padding: 10px 45px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 14px;
  }
  .banner .background-img {
    right: -16%;
  }
  .banner .background-img img {
    max-width: 94%;
  }
}

.feature img:nth-of-type(1) {
  top: -130%;
  left: -144px;
  z-index: -2;
}

.feature img:nth-of-type(2) {
  top: -62%;
  z-index: -2;
}

.feature .row {
  gap: 13px;
}

.feature .row .col-xl-3 {
  width: 24%;
}

.feature .row .col-12 .feature__item {
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.11);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.11);
  border-radius: 10px;
}

.feature .row .col-12 .feature__item .fa-desktop {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #3682ff;
}

.feature .row .col-12 .feature__item .fa-desktop::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #3682ff;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-12 .feature__item .fa-cogs {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #ff7c17;
}

.feature .row .col-12 .feature__item .fa-cogs::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #ff7c17;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-12 .feature__item .fa-shield {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #7952f5;
}

.feature .row .col-12 .feature__item .fa-shield::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #7952f5;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-12 .feature__item .fa-clock {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #66cc33;
}

.feature .row .col-12 .feature__item .fa-clock::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #66cc33;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-12 .feature__item h4 {
  font-size: 2.2rem;
  color: #242f3e;
  padding-bottom: 10px;
  padding-top: 45px;
}

.feature .row .col-12 .feature__item p {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  padding-bottom: 5px;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .feature img:nth-of-type(2) {
    top: -30%;
  }
  .feature .row .col-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .feature .row {
    gap: 14px;
  }
  .feature .row .col-md-6 {
    width: 49%;
  }
}

@media only screen and (min-width: 1025px) {
  .feature img:nth-of-type(1) {
    top: -56%;
  }
  .feature img:nth-of-type(2) {
    top: -12%;
  }
  .feature .row {
    gap: 14px;
  }
  .feature .row .col-md-6 {
    width: 49%;
  }
}

.integrationOne .integration-left img {
  width: 90%;
}

.integrationOne .integration-right {
  padding-left: 3rem;
}

.integrationOne .integration-right p:nth-of-type(1) {
  color: #8b8e93;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 16px;
}

.integrationOne .integration-right h2 {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 500;
  padding-bottom: 28px;
}

.integrationOne .integration-right p:nth-of-type(2) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 1.8rem;
  text-transform: initial;
  padding-bottom: 16px;
}

.integrationOne .integration-right .integration-itemUP,
.integrationOne .integration-right .integration-itemDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.integrationOne .integration-right .integration-icon {
  margin-right: 50px;
}

.integrationOne .integration-right .integration-icon .fa-check {
  color: #00e0d8;
  padding: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
}

.integrationOne .integration-right .integration-content h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 8px;
}

.integrationOne .integration-right .integration-content p {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
}

.integrationTwo {
  padding-bottom: 140px;
  overflow: hidden;
}

.integrationTwo .integrationTwo-left {
  padding-right: 60px;
}

.integrationTwo .integrationTwo-left p:nth-of-type(1) {
  color: #8b8e93;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 16px;
}

.integrationTwo .integrationTwo-left h2 {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 500;
  padding-bottom: 28px;
}

.integrationTwo .integrationTwo-left p:nth-of-type(2) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  text-transform: initial;
  padding-bottom: 10px;
}

.integrationTwo .integrationTwo-left p:nth-of-type(3) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 1.5rem;
  text-transform: initial;
  padding-bottom: 16px;
}

.integrationTwo .integrationTwo-left .integration-itemUP,
.integrationTwo .integrationTwo-left .integration-itemDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.integrationTwo .integrationTwo-left .integration-icon {
  margin-right: 50px;
}

.integrationTwo .integrationTwo-left .integration-icon .fa-check {
  color: #00e0d8;
  padding: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
}

.integrationTwo .integrationTwo-left .integration-content h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 8px;
}

.integrationTwo .integrationTwo-left .integration-content p {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
}

.integrationTwo .integrationTwo-right {
  padding-left: 3rem;
}

.integrationTwo .integrationTwo-right img {
  width: 90%;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .integrationOne .integration-right {
    padding: 0;
  }
  .integrationOne .integration-right .layout-title {
    font-size: 3rem;
  }
  .integrationOne .integration-right p:nth-of-type(2) {
    font-size: 14px;
  }
  .integrationTwo {
    padding: 0 0 100px 0;
  }
  .integrationTwo .integrationTwo-left {
    padding-right: 0;
  }
  .integrationTwo .integrationTwo-left h2 {
    font-size: 3rem;
  }
  .integrationTwo .integrationTwo-right {
    padding-left: 0;
  }
}

.counter .counter__wrapper {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter .counter__wrapper .counter__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter .counter__wrapper .counter__item p {
  margin-bottom: 0;
}

.counter .counter__wrapper .counter__item p:nth-of-type(1) {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 400;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .counter {
    padding: 30px 0;
  }
  .counter .counter__wrapper {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .counter .counter__wrapper .counter__item {
    margin-bottom: 30px;
  }
  .counter .counter__wrapper .counter__item p:nth-of-type(1) {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .counter {
    text-align: center;
  }
  .counter .counter__wrapper .counter__item p:nth-of-type(2) {
    height: 24px;
  }
}

.download {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #625aff), to(#b025ef));
  background: linear-gradient(180deg, #625aff 20%, #b025ef 100%);
  text-align: center;
  padding-bottom: 140px;
}

.download .download__content {
  margin: 0 40px;
}

.download .download__content h2 {
  color: white;
  font-size: 4rem;
  margin-bottom: 38px;
}

.download .download__content p {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: initial;
}

.download .download__content i {
  padding: 36px;
  background-color: white;
  border-radius: 50%;
  color: #00e0d8;
  font-size: 2rem;
}

.download .download__content hr {
  color: #b99dec;
  margin-bottom: 90px;
}

.download .download__content .download__logo {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download .download__content .download__logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.download .download__content .pulse-box {
  height: 270px;
}

.download .download__content .pulse-box a {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.download .download__content .pulse-box .pulsate-css1 {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  -webkit-animation: pulse-around 3.2s linear infinite;
          animation: pulse-around 3.2s linear infinite;
  top: 47%;
  left: 47.6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.download .download__content .pulse-box .pulsate-css2 {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  -webkit-animation: pulse-around 3.2s linear infinite;
          animation: pulse-around 3.2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  top: 47%;
  left: 47.6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.download .download__content .pulse-box .pulsate-css3 {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  -webkit-animation: pulse-around 3.2s linear infinite;
          animation: pulse-around 3.2s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  top: 47%;
  left: 47.6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes pulse-around {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(5.4);
            transform: scale(5.4);
  }
}

@keyframes pulse-around {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(5.4);
            transform: scale(5.4);
  }
}

.download::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../img/triangle-double.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 230px;
  top: 0;
  left: 0;
}

.download::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/triangle-double.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 230px;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .download .download__content {
    margin: 0;
  }
  .download .download__content h2 {
    font-size: 3rem;
  }
  .download .download__content p {
    font-size: 1.4rem;
  }
  .download .download__content .pulse-box a {
    left: 53%;
  }
  .download .download__content .pulse-box .pulsate-css1 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .pulse-box .pulsate-css2 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .pulse-box .pulsate-css3 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .download__logo {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .download .download__content .download__logo img {
    width: 14%;
    height: auto;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .download .download__content {
    margin: 0;
  }
  .download .download__content h2 {
    font-size: 3rem;
  }
  .download .download__content p {
    font-size: 1.4rem;
  }
  .download .download__content .pulse-box a {
    left: 49.3%;
  }
  .download .download__content .pulse-box .pulsate-css1 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .pulse-box .pulsate-css2 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .pulse-box .pulsate-css3 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .download__logo {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .download .download__content .download__logo img {
    width: 14%;
    height: auto;
  }
}

@media only screen and (min-width: 1025px) {
  .download .download__content {
    margin: 0;
  }
  .download .download__content h2 {
    font-size: 3.8rem;
  }
  .download .download__content p {
    font-size: 1.4rem;
    max-width: 75%;
    margin: 0 auto;
  }
  .download .download__content .pulse-box a {
    left: 48.3%;
  }
  .download .download__content .pulse-box .pulsate-css1 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .pulse-box .pulsate-css2 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .pulse-box .pulsate-css3 {
    top: 47%;
    left: 45.5%;
  }
  .download .download__content .download__logo {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .download .download__content .download__logo img {
    width: 14%;
    height: auto;
  }
}

.testimonial {
  position: relative;
  padding-bottom: 140px;
  background-color: #f8f9fa;
}

.testimonial::before {
  content: "";
  display: block;
  position: absolute;
  top: 14%;
  left: 0;
  bottom: 0;
  background: url("../../img/map.png");
  background-repeat: no-repeat;
  background-size: inherit;
  height: 86%;
  width: 42%;
  z-index: 1;
}

.testimonial .row .col-md-6 {
  z-index: 2;
}

.testimonial .row .col-md-6 .subtitle {
  font-size: 18px;
  color: #8b8e93;
  font-weight: 400;
}

.testimonial .row .col-md-6 h2 {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 40px;
}

.testimonial .row .col-md-6 .owl-carousel .testimonial-slider img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
}

.testimonial .row .col-md-6 .owl-carousel .testimonial-slider p:nth-of-type(1) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial .row .col-md-6 .owl-carousel .testimonial-slider p:nth-of-type(2) {
  color: #242f3e;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.8rem;
}

.testimonial .row .col-md-6 .owl-carousel .testimonial-slider p:nth-of-type(3) {
  font-size: 1.6rem;
  color: #8b8e93;
  font-weight: 500;
  line-height: 1.2;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .testimonial .row .col-lg-6 .subtitle {
    font-size: 1.8rem;
    color: #8b8e93;
    font-weight: 400;
  }
  .testimonial .row .col-lg-6 .layout-title {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  .testimonial .row .col-lg-6 .testtimonial-carousel .owl-item .testimonial-slider img {
    width: 8%;
    margin-bottom: 4rem;
  }
  .testimonial .row .col-lg-6 .testtimonial-carousel .owl-item .testimonial-slider p {
    font-weight: 400;
    color: #8b8e93;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 2rem;
  }
  .testimonial .row .col-lg-6 .testtimonial-carousel .owl-item .testimonial-slider .testimonial-actor {
    color: #242f3e;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
  }
  .testimonial .row .col-lg-6 .testtimonial-carousel .owl-item .testimonial-slider .actor-status {
    color: #8b8e93;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
  }
  .testimonial::before {
    top: 8%;
    background-size: contain;
    width: 88%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .testimonial {
    padding-bottom: 100px;
  }
  .testimonial .row .col-md-6 .subtitle {
    font-size: 1.8rem;
    color: #8b8e93;
    font-weight: 400;
  }
  .testimonial .row .col-md-6 .layout-title {
    font-size: 4rem;
    margin-bottom: 4rem;
  }
  .testimonial .row .col-md-6 .testtimonial-carousel .owl-item .testimonial-slider img {
    width: 12%;
    margin-bottom: 4rem;
  }
  .testimonial .row .col-md-6 .testtimonial-carousel .owl-item .testimonial-slider p {
    font-weight: 400;
    color: #8b8e93;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 2rem;
  }
  .testimonial .row .col-md-6 .testtimonial-carousel .owl-item .testimonial-slider .testimonial-actor {
    color: #242f3e;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0;
  }
  .testimonial .row .col-md-6 .testtimonial-carousel .owl-item .testimonial-slider .actor-status {
    color: #8b8e93;
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
  }
  .testimonial::before {
    top: 8%;
    background-size: contain;
    width: 48%;
  }
}

.blog {
  padding-bottom: 228px;
}

.blog .blog__subtitle {
  text-transform: capitalize;
  font-size: 18px;
  color: #8b8e93;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.blog .layout-title {
  margin-bottom: 38px;
}

.blog .swiper-blog {
  margin-left: 20px;
  overflow: hidden;
  padding-bottom: 42px;
}

.blog .swiper-blog .swiper-button-prev {
  top: 12%;
  right: 4%;
  left: auto;
}

.blog .swiper-blog .swiper-button-prev i {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 18px;
}

.blog .swiper-blog .swiper-button-prev i:hover {
  color: #00e0d8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog .swiper-blog .swiper-button-prev::after {
  display: none;
}

.blog .swiper-blog .swiper-button-next {
  top: 12%;
  right: 0;
}

.blog .swiper-blog .swiper-button-next i {
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all .3s;
  transition: all .3s;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 18px;
}

.blog .swiper-blog .swiper-button-next i:hover {
  color: #00e0d8;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.blog .swiper-blog .swiper-button-next::after {
  display: none;
}

.blog .blog__subscription {
  width: 100%;
  top: 124%;
  padding: 62px 46px;
  background: #fff;
  height: 200px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.1);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.1);
  border-radius: 0 0 0 40px;
  position: absolute;
}

.blog .blog__subscription .blog__subscription--content {
  width: 100%;
}

.blog .blog__subscription .blog__subscription--content h3 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #242f3e;
}

.blog .blog__subscription .blog__subscription--content .form-control {
  border: 1px solid #ebebeb;
  height: 60px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 45px;
  padding: 0 25px;
  width: 58%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  margin: 10px 22px 10px 10px;
}

.blog .blog__subscription .blog__subscription--content .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.blog .blog__subscription .blog__subscription--content .btn {
  margin: 10px;
  width: 42%;
  color: #ebebeb;
  height: 60px;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .blog {
    padding-bottom: 0px;
  }
  .blog .swiper-blog {
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 0;
  }
  .blog .swiper-blog .swiper-button-prev {
    right: 8%;
    top: 6%;
  }
  .blog .swiper-blog .swiper-button-next {
    top: 6%;
  }
  .blog .layout-title {
    font-size: 3rem;
  }
  .blog .blog__subscription {
    background: transparent;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
    padding-top: 100px;
  }
  .blog .blog__subscription .blog__subscription--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .blog__subscription .blog__subscription--content h3 {
    text-align: center;
  }
  .blog .blog__subscription .blog__subscription--content form {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  .blog .blog__subscription .blog__subscription--content form .form-control {
    margin: 0;
    width: 100%;
  }
  .blog .blog__subscription .blog__subscription--content form .btn {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .blog {
    padding-bottom: 0px;
  }
  .blog .swiper-blog {
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 0;
  }
  .blog .swiper-blog .swiper-button-prev {
    right: 6%;
    top: 6%;
  }
  .blog .swiper-blog .swiper-button-next {
    top: 6%;
  }
  .blog .swiper-blog .swiper-wrapper .swiper-slide .card-blog {
    width: 100%;
  }
  .blog .layout-title {
    font-size: 3rem;
  }
  .blog .blog__subscription {
    background: transparent;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
    padding-top: 100px;
  }
  .blog .blog__subscription .blog__subscription--content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .blog__subscription .blog__subscription--content h3 {
    text-align: center;
  }
  .blog .blog__subscription .blog__subscription--content form {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    gap: 15px;
  }
  .blog .blog__subscription .blog__subscription--content form .form-control {
    margin: 0;
    width: 100%;
  }
  .blog .blog__subscription .blog__subscription--content form .btn {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .blog {
    padding-bottom: 0px;
  }
  .blog .swiper-blog {
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 0;
  }
  .blog .swiper-blog .swiper-button-prev {
    right: 6%;
    top: 6%;
  }
  .blog .swiper-blog .swiper-button-next {
    top: 6%;
  }
  .blog .swiper-blog .swiper-wrapper .swiper-slide .card-blog {
    width: 100%;
  }
  .blog .layout-title {
    font-size: 3rem;
  }
  .blog .blog__subscription {
    background: transparent;
    height: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: relative;
    padding-top: 100px;
  }
  .blog .blog__subscription .blog__subscription--content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog .blog__subscription .blog__subscription--content h3 {
    text-align: left;
  }
  .blog .blog__subscription .blog__subscription--content form {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    gap: 15px;
  }
  .blog .blog__subscription .blog__subscription--content form .form-control {
    margin: 0;
    width: 100%;
  }
  .blog .blog__subscription .blog__subscription--content form .btn {
    width: 100%;
    margin: 0;
  }
}

.footer-top {
  background: #15192b;
  padding-top: 80px;
  padding-top: 140px;
  padding-bottom: 140px;
}

.footer-top .row {
  gap: 0 47px;
}

.footer-top p {
  color: #d4dae3;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  text-transform: initial;
}

.footer-top .footer-media i {
  color: #fff;
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  border: 2px solid #2d3041;
  border-radius: 50%;
  margin-right: 8px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-top .footer-media i:hover {
  background-color: #007ac7;
  border: 2px solid #007ac7;
}

.footer-top .footer-media i + i {
  margin-right: 8px;
}

.footer-top .footer-title {
  margin-bottom: 1.5rem;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.footer-top .footer-linkPages ul li {
  padding-bottom: 16px;
}

.footer-top .footer-linkPages ul li i {
  padding-right: 14px;
  color: #d4dae3;
  font-size: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-top .footer-linkPages ul li a {
  text-decoration: none;
  color: #d4dae3;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-top .footer-linkPages ul li:hover i {
  color: #007ac7;
}

.footer-top .footer-linkPages ul li:hover a {
  color: #007ac7;
  text-decoration: underline;
}

.footer-top .footer-address ul li a {
  color: #d4dae3;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-top .footer-address ul li a:hover {
  color: #007ac7;
}

.footer-bottom {
  background: #15192b;
  color: #d4dae3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-bottom .footer-bottom__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom .borderBottom {
  background: #d4dae3;
  color: #d4dae3;
  width: 100%;
}

.footer-bottom .container {
  padding: 20px 0;
}

.footer-bottom a {
  text-transform: lowercase;
  color: #007ac7;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-bottom a:hover {
  color: #007bc796;
}

.footer-bottom ul li a {
  color: #d4dae3;
  text-transform: inherit;
  padding-right: 20px;
}

.footer-bottom ul .border--right {
  position: relative;
}

.footer-bottom ul .border--right::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 15px;
  top: 3px;
  right: 6%;
  background-color: #d4dae3;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .footer-top .row {
    gap: 30px;
  }
  .footer-bottom .footer-bottom__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer-top .row {
    gap: 15px;
  }
  .footer-bottom .footer-bottom__content {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button-primary {
  color: #fff;
  background: linear-gradient(45deg, #00a8f4, #02d1a1);
}

.btn {
  color: #00e0d8;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 15px 44px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border-radius: 45px;
  border: 1px solid #00e0d8;
  overflow: hidden;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-outline-primary {
  border: 2px solid #00e0d8;
  color: #00e0d8;
}

.button-outline-primary::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: -133%;
  top: -14px;
  width: 132%;
  height: 160%;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  background: linear-gradient(45deg, #00a8f4, #02d1a1);
}

.button-outline-primary:hover {
  color: #fff;
}

.button-outline-primary:hover::after {
  -webkit-transform: translateX(92%);
          transform: translateX(92%);
}

.card-blog {
  background-color: #fff;
  border-radius: 4px 4px 10px 10px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.107);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.107);
  width: 338px;
  overflow: hidden;
  margin-right: 0;
}

.card-blog .card-header {
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.card-blog .card-header img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-blog .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: relative;
}

.card-blog .card-body .card-date {
  margin-left: 36px;
}

.card-blog .card-body .card-date p {
  margin-left: 2px;
}

.card-blog .card-body .card-date::before {
  position: absolute;
  content: "";
  display: block;
  width: 28px;
  height: 2px;
  background-color: #8b8e93;
  left: 20px;
  top: 22%;
}

.card-blog .card-body .card-content {
  color: #242f3e;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-blog .card-body .card-content:hover {
  color: #007ac7;
}

@media only screen and (min-width: 320px) and (max-width: 736px) {
  .card-blog {
    width: inherit;
  }
}

.preloader-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0E1E2F;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preloader-bg img {
  max-width: 500px;
}
/*# sourceMappingURL=main.css.map */