* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: #0ddd8d;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

.container {
  width: 72%;
  margin: 0 auto;
}

.header {
  padding: 45px 0;
}

.header .navbar .navbar-brand {
  margin-right: 12rem;
}

.header .navbar .nav-link {
  color: #242f3e;
  font-weight: 500;
  font-size: 16px;
}

.header .navbar .navbar-nav {
  gap: 30px;
}

.header .navbar .navbar-nav .nav-item {
  position: relative;
}

.header .navbar .navbar-nav .nav-item .dropMenu {
  position: absolute;
  left: -55%;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.14);
  padding: 15px;
  top: 38px;
  width: 182px;
  height: 151px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header .navbar .navbar-nav .nav-item .dropMenu a {
  font-size: 1.6rem;
}

.header .navbar .navbar-nav .nav-item .dropMenu a:hover {
  background-color: transparent;
  color: #00e0d8;
}

.header .navbar .navbar-nav .nav-item:hover .dropMenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00e0d8;
}

.button-primary {
  font-size: 1.6rem;
  padding: 15px 44px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border-radius: 30px;
}

.btn {
  color: #00e0d8;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 15px 44px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border-radius: 45px;
  border: 1px solid #00e0d8;
  overflow: hidden;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-outline-primary {
  border: 2px solid #00e0d8;
  color: #00e0d8;
}

.button-outline-primary::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: -133%;
  top: -3px;
  width: 129%;
  height: 150%;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  background: linear-gradient(45deg, #00a8f4, #02d1a1);
}

.button-outline-primary:hover {
  color: #fff;
}

.button-outline-primary:hover::after {
  -webkit-transform: translateX(103%);
          transform: translateX(103%);
}
/*# sourceMappingURL=main.css.map */