* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: white;
}

html::-webkit-scrollbar-thumb {
  background: #00e0d8;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

ol,
ul {
  list-style: none;
}

.container {
  width: 75%;
  margin: 0 auto;
}

.section {
  padding-top: 140px;
}

.layout-title {
  font-size: 4rem;
  color: #242f3e;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.2;
}

.header {
  padding: 45px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header .navbar .navbar-brand {
  margin-right: 12rem;
}

.header .navbar .button-outline-primary {
  color: #fff;
}

.header .navbar .nav-link {
  color: #242f3e;
  font-weight: 500;
  font-size: 16px;
}

.header .navbar .navbar-nav {
  gap: 30px;
}

.header .navbar .navbar-nav .nav-item {
  position: relative;
}

.header .navbar .navbar-nav .nav-item .dropMenu {
  position: absolute;
  left: -55%;
  -webkit-box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.14);
  padding: 15px;
  top: 38px;
  width: 182px;
  height: 151px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.header .navbar .navbar-nav .nav-item .dropMenu a {
  font-size: 1.6rem;
}

.header .navbar .navbar-nav .nav-item .dropMenu a:hover {
  background-color: transparent;
  color: #00e0d8;
}

.header .navbar .navbar-nav .nav-item:hover .dropMenu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #00e0d8;
}

.banner {
  position: relative;
  padding: 150px 0 260px;
}

.banner .row {
  margin-right: -25%;
}

.banner .row .banner-left span {
  position: absolute;
  font-size: 20rem;
  font-weight: 600;
  left: 12.5%;
  top: 134px;
  opacity: 0.07;
}

.banner .row .banner-left h1 {
  font-size: 6rem;
  color: #242f3e;
  margin-bottom: 8px;
}

.banner .row .banner-left p {
  text-transform: initial;
  opacity: 0.7;
}

.banner .row .banner-left .banner-button {
  margin-top: 36px;
}

.banner .row .banner-left .banner-button .btn {
  padding: 14px 49px;
  display: inline-block;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.banner .row .banner-left .banner-button .btn i {
  font-size: 3rem;
  margin-right: 12px;
}

.banner .row .banner-left .banner-button .btn:hover {
  color: #fff;
}

.banner .row .banner-left .banner-button .button-primary {
  color: #fff;
}

.banner .row .banner-right {
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.103);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.103);
}

.banner .background-img {
  position: absolute;
  top: 0;
  right: -84px;
  z-index: -2;
}

.banner .background-img img {
  width: 770px;
}

.feature img:nth-of-type(1) {
  top: -130%;
  left: -144px;
  z-index: -2;
}

.feature img:nth-of-type(2) {
  top: -62%;
  z-index: -2;
}

.feature .row {
  gap: 13px;
}

.feature .row .col-3 {
  width: 24%;
}

.feature .row .col-3 .feature__item {
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.11);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.11);
  border-radius: 10px;
}

.feature .row .col-3 .feature__item .fa-desktop {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #3682ff;
}

.feature .row .col-3 .feature__item .fa-desktop::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #3682ff;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-3 .feature__item .fa-cogs {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #ff7c17;
}

.feature .row .col-3 .feature__item .fa-cogs::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #ff7c17;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-3 .feature__item .fa-shield {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #7952f5;
}

.feature .row .col-3 .feature__item .fa-shield::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #7952f5;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-3 .feature__item .fa-clock {
  position: relative;
  padding-top: 50px;
  font-size: 5rem;
  color: #66cc33;
}

.feature .row .col-3 .feature__item .fa-clock::after {
  content: "";
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #66cc33;
  opacity: 0.1;
  position: absolute;
  top: 22px;
  right: -32px;
}

.feature .row .col-3 .feature__item h4 {
  font-size: 2.2rem;
  color: #242f3e;
  padding-bottom: 10px;
  padding-top: 45px;
}

.feature .row .col-3 .feature__item p {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  padding-bottom: 5px;
}

.integrationOne .integration-left img {
  width: 90%;
}

.integrationOne .integration-right p:nth-of-type(1) {
  color: #8b8e93;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 16px;
}

.integrationOne .integration-right h2 {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 500;
  padding-bottom: 28px;
}

.integrationOne .integration-right p:nth-of-type(2) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 1.8rem;
  text-transform: initial;
  padding-bottom: 16px;
}

.integrationOne .integration-right .integration-itemUP,
.integrationOne .integration-right .integration-itemDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.integrationOne .integration-right .integration-icon {
  margin-right: 50px;
}

.integrationOne .integration-right .integration-icon .fa-check {
  color: #00e0d8;
  padding: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
}

.integrationOne .integration-right .integration-content h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 8px;
}

.integrationOne .integration-right .integration-content p {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
}

.integrationTwo .integrationTwo-left {
  padding-right: 60px;
}

.integrationTwo .integrationTwo-left p:nth-of-type(1) {
  color: #8b8e93;
  font-size: 1.8rem;
  font-weight: 400;
  padding-bottom: 16px;
}

.integrationTwo .integrationTwo-left h2 {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 500;
  padding-bottom: 28px;
}

.integrationTwo .integrationTwo-left p:nth-of-type(2) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  text-transform: initial;
  padding-bottom: 10px;
}

.integrationTwo .integrationTwo-left p:nth-of-type(3) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 1.5rem;
  text-transform: initial;
  padding-bottom: 16px;
}

.integrationTwo .integrationTwo-left .integration-itemUP,
.integrationTwo .integrationTwo-left .integration-itemDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.integrationTwo .integrationTwo-left .integration-icon {
  margin-right: 50px;
}

.integrationTwo .integrationTwo-left .integration-icon .fa-check {
  color: #00e0d8;
  padding: 15px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
          box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.096);
}

.integrationTwo .integrationTwo-left .integration-content h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 8px;
}

.integrationTwo .integrationTwo-left .integration-content p {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
}

.integrationTwo .integrationTwo-right img {
  width: 90%;
}

.counter .counter__wrapper {
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter .counter__wrapper .counter__item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.counter .counter__wrapper .counter__item p {
  margin-bottom: 0;
}

.counter .counter__wrapper .counter__item p:nth-of-type(1) {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 400;
}

.download {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #625aff), to(#b025ef));
  background: linear-gradient(180deg, #625aff 20%, #b025ef 100%);
  text-align: center;
  padding-bottom: 140px;
}

.download .download__content {
  margin: 0 40px;
}

.download .download__content h2 {
  color: white;
  font-size: 4rem;
  margin-bottom: 38px;
}

.download .download__content p {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: initial;
}

.download .download__content i {
  padding: 36px;
  background-color: white;
  border-radius: 50%;
  color: #00e0d8;
  font-size: 2rem;
}

.download .download__content hr {
  color: #b99dec;
  margin-bottom: 90px;
}

.download .download__content .download__logo img {
  -o-object-fit: contain;
     object-fit: contain;
}

.download .download__content .pulse-box {
  height: 270px;
}

.download .download__content .pulse-box a {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 10;
}

.download .download__content .pulse-box .pulsate-css1 {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  -webkit-animation: pulse-around 3.2s linear infinite;
          animation: pulse-around 3.2s linear infinite;
  top: 47%;
  left: 47.6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.download .download__content .pulse-box .pulsate-css2 {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  -webkit-animation: pulse-around 3.2s linear infinite;
          animation: pulse-around 3.2s linear infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  top: 47%;
  left: 47.6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.download .download__content .pulse-box .pulsate-css3 {
  background-color: #fff;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: inline-block;
  -webkit-animation: pulse-around 3.2s linear infinite;
          animation: pulse-around 3.2s linear infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  top: 47%;
  left: 47.6%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@-webkit-keyframes pulse-around {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(5.4);
            transform: scale(5.4);
  }
}

@keyframes pulse-around {
  0% {
    opacity: 0.3;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.05;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(5.4);
            transform: scale(5.4);
  }
}

.download::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../../img/triangle-double.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 230px;
  top: 0;
  left: 0;
}

.download::after {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../../img/triangle-double.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 25%;
  height: 230px;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.testimonial {
  position: relative;
  padding-bottom: 140px;
  background-color: #f8f9fa;
}

.testimonial::before {
  content: "";
  display: block;
  position: absolute;
  top: 14%;
  left: 0;
  bottom: 0;
  background: url("../../img/map.png");
  background-repeat: no-repeat;
  background-size: inherit;
  height: 86%;
  width: 42%;
  z-index: 1;
}

.testimonial .row .col-6 {
  z-index: 2;
}

.testimonial .row .col-6 .subtitle {
  font-size: 18px;
  color: #8b8e93;
  font-weight: 400;
}

.testimonial .row .col-6 h2 {
  font-size: 4rem;
  color: #242f3e;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 40px;
}

.testimonial .row .col-6 .owl-carousel .testimonial-slider img {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
}

.testimonial .row .col-6 .owl-carousel .testimonial-slider p:nth-of-type(1) {
  font-weight: 400;
  color: #8b8e93;
  font-size: 15px;
  line-height: 1.6;
  font-style: italic;
  margin-bottom: 20px;
}

.testimonial .row .col-6 .owl-carousel .testimonial-slider p:nth-of-type(2) {
  color: #242f3e;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.8rem;
}

.testimonial .row .col-6 .owl-carousel .testimonial-slider p:nth-of-type(3) {
  font-size: 1.6rem;
  color: #8b8e93;
  font-weight: 500;
  line-height: 1.2;
}

.blog {
  padding-bottom: 140px;
}

.blog .blog-carousel .owl-stage-outer {
  padding-bottom: 32px;
  padding-left: 20px;
}

.blog .blog-carousel .card-blog {
  -webkit-box-shadow: 0 15px 15px 0 rgba(8, 18, 109, 0.096);
          box-shadow: 0 15px 15px 0 rgba(8, 18, 109, 0.096);
}

.button-primary {
  color: #fff;
  background: linear-gradient(45deg, #00a8f4, #02d1a1);
}

.btn {
  color: #00e0d8;
  background-color: transparent;
  font-size: 1.6rem;
  padding: 15px 44px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  border-radius: 45px;
  border: 1px solid #00e0d8;
  overflow: hidden;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-outline-primary {
  border: 2px solid #00e0d8;
  color: #00e0d8;
}

.button-outline-primary::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: -133%;
  top: -14px;
  width: 132%;
  height: 160%;
  -webkit-transition: linear 0.3s;
  transition: linear 0.3s;
  background: linear-gradient(45deg, #00a8f4, #02d1a1);
}

.button-outline-primary:hover {
  color: #fff;
}

.button-outline-primary:hover::after {
  -webkit-transform: translateX(92%);
          transform: translateX(92%);
}

.card-blog {
  background-color: #fff;
  border-radius: 4px;
  width: 338px;
  overflow: hidden;
  margin-right: 0;
}

.card-blog .card-header {
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: none;
}

.card-blog .card-header img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-blog .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  min-height: 250px;
  position: relative;
}

.card-blog .card-body .card-date {
  margin-left: 36px;
}

.card-blog .card-body .card-date::before {
  position: absolute;
  content: "";
  display: block;
  width: 32px;
  height: 2px;
  background-color: #8b8e93;
  left: 20px;
  top: 20%;
}
/*# sourceMappingURL=main.css.map */