.blog {
    padding-bottom: 140px;
    .blog__subtitle{
        text-transform: capitalize;
        font-size: 18px;
        color: #8b8e93;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }
    .layout-title{
        margin-bottom: 38px;
    }
}
.swiper {
    width: 600px;
    height: 300px;
  }
