.blog {
    padding-bottom: 228px;
    .blog__subtitle{
        text-transform: capitalize;
        font-size: 18px;
        color: #8b8e93;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
    }
    .layout-title{
        margin-bottom: 38px;
    }
    .swiper-blog{
        margin-left: 20px;
        overflow: hidden;
        padding-bottom: 42px;
        .swiper-button-prev{
            top: 12%;
            right: 4%;
            left: auto;
            i{
                color: rgba(0, 0, 0, 0.4);
                transition: all .3s;
                transform: scale(1);
                font-size: 18px;
                &:hover{
                    color: $main-color;
                    
                    transform: scale(1.2);
                }
            }
            &::after{
                display: none;
            }
        }
        .swiper-button-next{
            top: 12%;
            right: 0;
            i{
                color: rgba(0, 0, 0, 0.4);
                transition: all .3s;
                transform: scale(1);
                font-size: 18px;
                &:hover{
                    color: $main-color;
                    
                    transform: scale(1.2);
                }
            }
            &::after{
                display: none;
            }
        }
    }
    .blog__subscription{
        width: 100%;
        top: 124%;
        padding: 62px 46px;    
        background: #fff; 
        height: 200px;
        box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.1);
        border-radius: 0 0 0 40px;
        position: absolute;
        .blog__subscription--content{
            width: 100%;
            h3{
                font-size: 30px;
                font-weight: 500;
                line-height: 1.2;
                color: #242f3e;
            }
            .form-control{
                border: 1px solid #ebebeb;
                height: 60px;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 45px;
                padding: 0 25px;
                width: 58%;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                margin: 10px 22px 10px 10px;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
            }
            .btn{
                margin: 10px;
                width: 42%;
                color: #ebebeb;
                height: 60px;
            }
        }
    }
}
// RESPONSIVE
@include Responsive(IP8){
    .blog{
        padding-bottom: 0px;
        .swiper-blog{
            padding-left: 13px;
            padding-right: 13px;
            .swiper-button-prev{
                right: 8%;
                top: 6%;
            }
            .swiper-button-next{
                top: 6%;
            }
        }
        .layout-title{
            font-size: 3rem;
        }
        .blog__subscription{
            background: transparent;
            height: auto;
            box-shadow: none;
            position: relative;
            padding-top: 100px;
            .blog__subscription--content{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h3{
                    text-align: center;
                }
                form{
                    margin-top: 20px;
                    flex-direction: column;
                    width: 100%;
                    gap: 15px;
                    .form-control{
                        margin: 0;
                        width: 100%;
                    }
                    .btn{
                        width: 100%;
                        margin: 0;
                    }
                }
            }
        }
    }
}

