.counter {
    .counter__wrapper {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        .counter__item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                margin-bottom: 0;
            }
            & p:nth-of-type(1) {
                font-size: 4rem;
                color: $h-color;
                font-weight: 400;
            }
        }
    }
}

// RESPONSIVE
@include Responsive(IP8){
    .counter{
        padding: 30px 0;
        .counter__wrapper{
            height: max-content;
            .counter__item{
                margin-bottom: 30px;
                & p:nth-of-type(1){
                    font-size: 3rem;
                }
            }
        }
    }
}
