.download {
    background: linear-gradient(180deg, #625aff 20%, #b025ef 100%);
    text-align: center;
    padding-bottom: 140px;
    .download__content {
        margin: 0 40px;
        h2 {
            color: white;
            font-size: 4rem;
            margin-bottom: 38px;
        }
        p {
            color: white;
            font-size: 1.5rem;
            font-weight: 400;
            text-transform: initial;
        }
        i {
            padding: 36px;
            background-color: white;
            border-radius: 50%;
            color: $main-color;
            font-size: 2rem;
        }
        hr {
            color: #b99dec;
            margin-bottom: 90px;
        }
        .download__logo {
            justify-content: space-between;
            img {
                object-fit: contain;
            }
        }
        .pulse-box {
            height: 270px;
            a {
                position: absolute;
                top: 56%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
            }
            .pulsate-css1 {
                background-color: #fff;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: inline-block;
                animation: pulse-around 3.2s linear infinite;
                top: 47%;
                left: 47.6%;
                transform: translate(-50%, -50%);
            }
            .pulsate-css2 {
                background-color: #fff;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: inline-block;
                animation: pulse-around 3.2s linear infinite;
                animation-delay: 1s;
                top: 47%;
                left: 47.6%;
                transform: translate(-50%, -50%);
            }
            .pulsate-css3 {
                background-color: #fff;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: inline-block;
                animation: pulse-around 3.2s linear infinite;
                animation-delay: 2s;
                top: 47%;
                left: 47.6%;
                transform: translate(-50%, -50%);
            }

            @keyframes pulse-around {
                0% {
                    opacity: 0.3;
                    transform: scale(0.8);
                }
                25% {
                    opacity: 0.2;
                }
                50% {
                    opacity: 0.1;
                }
                75% {
                    opacity: 0.05;
                }
                100% {
                    opacity: 0;
                    transform: scale(5.4);
                }
            }
        }
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        background-image: url("../../img/triangle-double.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 25%;
        height: 230px;
        top: 0;
        left: 0;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("../../img/triangle-double.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 25%;
        height: 230px;
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
}
// RESPONSIVE
@include Responsive(IP8){
    .download{
        .download__content{
            margin: 0;
            h2{
                font-size: 3rem;
            }
            p{
                font-size: 1.4rem;
            }
            .pulse-box{
                a{
                    left: 53%;
                }
                .pulsate-css1{
                    top: 47%;
                    left: 45.5%;
                }
                .pulsate-css2{
                    top: 47%;
                    left: 45.5%;
                }
                .pulsate-css3{
                    top: 47%;
                    left: 45.5%;    
                }

            }
            .download__logo{
                justify-content: space-around;
                align-items: center;
                img{
                    width: 14%;
                    height: auto;
                }
            }
        }
    }
}