.header {
    padding: 45px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: transparent;
    transition: all .3s;
    &.active{
        background: #fff;
        box-shadow: 0px 10px 20px 0px rgba(0, 142, 236, 0.104);
        padding: 15px 0;
        .navbar{
            .button-outline-primary{
                color: #007ac7;
                &:hover{
                    color: #fff;
                }
            }

        }
    }
    .navbar {
        .navbar-brand {
            margin-right: 12rem;
        }
        .button-outline-primary {
            color: #fff;
        }
        .nav-link {
            color: $h-color;
            font-weight: 500;
            font-size: 16px;
        }
        .navbar-nav {
            gap: 30px;
            .nav-item {
                position: relative;
                .dropMenu {
                    position: absolute;
                    left: -55%;
                    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.14);
                    padding: 15px;
                    top: 38px;
                    width: 182px;
                    height: 151px;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    gap: 10px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s all;
                    transform: scale(0.8);
                    a {
                        font-size: 1.6rem;
                        &:hover {
                            background-color: transparent;
                            color: $main-color;
                        }
                    }
                }
                &:hover .dropMenu {
                    opacity: 1;
                    visibility: visible;
                    transform: scaleX(1);
                }
                .nav-link:hover {
                    color: $main-color;
                }
            }
        }
    }
}
