.button-primary {
    color: #fff;
    background: linear-gradient(45deg, #00a8f4, #02d1a1);
}
.btn {
    @include buttonStyle($main-color, transparent);
    font-size: 1.6rem;
    padding: 15px 44px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    border-radius: 45px;
    border: 1px solid $main-color;
    overflow: hidden;
    transition: linear 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    &:focus {
        box-shadow: none;
    }
}
.button-outline-primary {
    border: 2px solid $main-color;
    color: $main-color;
}
.button-outline-primary::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: -133%;
    top: -14px;
    width: 132%;
    height: 160%;
    transition: linear 0.3s;
    background: linear-gradient(45deg, #00a8f4, #02d1a1);
}
.button-outline-primary:hover {
    color: #fff;
}
.button-outline-primary:hover::after {
    transform: translateX(92%);
}
