.card-blog {
    background-color: #fff;
    border-radius: 4px 4px 10px 10px;
    box-shadow: 0px 15px 15px 0px rgba(8, 18, 109, 0.107) ;
    width: 338px;
    overflow: hidden;
    margin-right: 0;
    .card-header {
        padding: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: max-content;
        position: relative;
        .card-date {
            margin-left: 36px;
            p{
                margin-left: 2px;
            }
            &::before {
                position: absolute;
                content: "";
                display: block;
                width: 28px;
                height: 2px;
                background-color: #8b8e93;
                left: 20px;
                top: 22%;
                
            }
        }
        .card-content{
            color: #242f3e ;
            font-size: 18px;
            font-weight: 500;
            transition: all .3s;
            &:hover{
                color: #007ac7 ;
            }
        }
    }
}
// RESPONSIVE
@include Responsive(IP8){
    .card-blog {
        width: inherit;
    }
}