.container {
    width: 75%;
    margin: 0 auto;
}
.section {
    padding-top: 140px;
}
.layout-title {
    font-size: 4rem;
    color: #242f3e;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.2;
}
