.container {
    width: 75%;
    margin: 0 auto;
}
.section {
    padding-top: 140px;
}
@include Responsive(IP8){
    .section{
        padding: 100px 0;
    }
}
@include Responsive(IPAD){
    .section{
        padding: 100px 0;
    }
}
.layout-title {
    font-size: 4rem;
    color: #242f3e;
    text-transform: capitalize;
    font-weight: 500;
    line-height: 1.2;
}

@include Responsive(IP8){
	.container{
		width: 98%;
	}
}
@include Responsive(IPAD){
    .container{
        width: 100%;
        padding: 0 15px;
    }
}
.mt-40{
    margin-top: 40px;
}